<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TopTunes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F00551F31CA412E900AA84EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F00552071CA412E900AA84EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F00552121CA412E900AA84EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
